<ion-header>
    <ion-toolbar color="tertiary">

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/people" text="Back"></ion-back-button>
        </ion-buttons>

        <ion-title mode="ios">{{person?.name}}</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="person">
        <ion-card-content>
            <ion-item>
                <ion-label>Eye Color: {{person.eye_color}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Height: {{person.height}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Hair Color: {{person.hair_color}}</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>